@font-face {
    font-family : "Poppins-Regular";
    src         : url("../font/Poppins-Regular.ttf");
    font-display: swap
}

/*-------------------------------------------------------------
# Body
--------------------------------------------------------------*/
* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: "Poppins-Regular" !important;
}

body {
    margin       : 0;
    font-family  : "Poppins-Regular" !important;
    /* overflow-x: hidden; */
    overflow     : hidden;
}

.capital-letter {
    text-transform: uppercase;
}

#wrapper {
    background-image     : url();
    background-size      : 100% 100%;
    height               : 100%;
    width                : 100%;
    background-attachment: fixed;
    z-index              : 2;
}

#wrapper:after {
    content          : "";
    position         : fixed;
    top              : 0;
    width            : 100%;
    height           : 100%;
    left             : 0;
    right            : 0;
    z-index          : -1;
    background       : url(https://once.fabricaapps.com/cachi-cachi-porra-2023/Gato/wallpaper.png), center center;
    background-size  : inherit;
    background-repeat: no-repeat;
}

.d-none {
    display: none !important;
}

/*-------------------------------------------------------------
# 
--------------------------------------------------------------*/
.pt-md-100 {
    padding-top: 100px;
}

.container-padding {
    padding-left : 5%;
    padding-right: 5%;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none !important;
}

.img-fluid {
    max-width: 100%;
    height   : auto;
}

.fixed-top {
    position: fixed;
    top     : 0;
    right   : 0;
    left    : 0;
    z-index : 1030;
}

.w-33 {
    width: 33px;
}

.w-34 {
    width: 34px;
}

.w-36 {
    width: 36px;
}

.w-40 {
    width: 40px;
}

.w-54 {
    width: 54px;
}

.w-56 {
    width: 56px;
}

.w-57 {
    width: 57px;
}

.w-60 {
    width: 60px;
}

.w-61 {
    width: 61px;
}

.w-62 {
    width: 62px;
}

.w-63 {
    width: 63px;
}
.content-btn {
    position       : fixed;
    bottom         : 0;
    z-index        : 5;
    display        : flex;
    gap            : 1rem;
    width          : auto;
    width          : 100%;
    justify-content: space-between;
}

.content-btn button {
    cursor               : pointer;
    background-color     : #df4f81;
    border-radius        : 6px;
    border               : none;
    padding              : 0.5rem;
    font-size            : 1.1em;
    color                : #fff;
    width                : 150px;
    -webkit-border-radius: 6px;
    -moz-border-radius   : 6px;
    -ms-border-radius    : 6px;
    -o-border-radius     : 6px;
}

/*-------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    width             : 100%;
    height            : 70px;
    transition        : all 0.5s;
    z-index           : 997;
    /* background     : linear-gradient( 269deg, #c92048 -1%, #c81f47 3%, #8a1e44 64%, #792042 100%)!important; */
    background        : #af188b;
    box-shadow        : 0px 1px 4px 0px rgb(255 255 255 / 87%);
    -webkit-transition: all 0.5s;
    -moz-transition   : all 0.5s;
    -ms-transition    : all 0.5s;
    -o-transition     : all 0.5s;
}

#header .container-header {
    display              : grid;
    grid-template-columns: 200px 1fr 70px;
    padding-left         : 0% !important;
    padding-right        : 0% !important;
    margin-left          : 0% !important;
    margin-right         : 0% !important;
    width                : 100%;
    height               : 100%;
}

#header .container-header .logo {
    display        : flex;
    justify-content: center;
    width          : 100%;
    height         : 100%;
}

#header .container-header .logo a {
    text-decoration: none;
    width          : 100%;
    height         : 100%;
    padding        : 5px;
}

#header .container-header .home {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 100%;
}

#header .container-header .home a {
    text-decoration: none;
    color          : #fff;
    padding        : 13%;
}

#header .container-header .home a img {
    filter: invert(1);
    width : 80%;
}

/*-------------------------------------------------------------
# Section Cards Games
--------------------------------------------------------------*/
.section-games .container-games {
    width          : 100%;
    height         : 100vh;
    display        : flex;
    flex-flow      : column wrap;
    justify-content: center;
    align-items    : center;
}

.section-games .container-elements-games {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : flex-start;
}

.section-games .container-games .card-games {
    position                  : relative;
    width                     : 320px;
    height                    : 450px;
    margin                    : 30px;
    cursor                    : pointer;
    border-radius             : 20px;
    border-bottom-left-radius : 160px;
    border-bottom-right-radius: 160px;
    box-shadow                : 0 15px 0 #fff,
        inset 0 -15px rgba(255, 255, 255, 0.25),
        0 45px 0 rgba(0, 0, 0, 0.15);
    overflow       : hidden;
    display        : flex;
    justify-content: center;
    align-items    : flex-start;
    z-index        : 3;
}

.section-games .container-games .card-games::before {
    content       : '';
    position      : absolute;
    left          : -40%;
    width         : 100%;
    height        : 150%;
    background    : linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform     : rotate(35deg);
    pointer-events: none;
    filter        : blur(5px);
}

.section-games .container-games .game-1 {
    background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}

.section-games .container-games .game-2 {
    background: linear-gradient(to bottom, #f2b2e6, #eb035d);
}

.section-games .container-games .game-3 {
    background: linear-gradient(to bottom, #af188b, #500e4b);
}

.section-games .container-games .game-4 {
    background: linear-gradient(to bottom, #fe6f2e, #ff2f2f);
}

.section-games .container-games .game-5 {
    background: linear-gradient(to bottom, #fa71cb, #6f174a);
}

.section-games .container-games .game-6 {
    background: linear-gradient(to bottom, #fe7a81, #e869ea);
}

.section-games .container-games .card-games .icon-games {
    position                  : relative;
    width                     : 140px;
    height                    : 120px;
    background                : #500e4b;
    border-bottom-left-radius : 100px;
    border-bottom-right-radius: 100px;
    box-shadow                : 0 10px 0 rgba(0, 0, 0, 0.1),
        inset 0 -8px #fff;
    display        : flex;
    justify-content: center;
    z-index        : 1000;
}

.section-games .container-games .card-games .icon-games::before {
    content                : '';
    position               : absolute;
    top                    : 0;
    left                   : -50px;
    width                  : 50px;
    height                 : 50px;
    background             : transparent;
    border-top-right-radius: 50px;
    box-shadow             : 15px -15px 0 15px #500e4b;
    z-index                : -1;
}

.section-games .container-games .card-games .icon-games::after {
    content               : '';
    position              : absolute;
    top                   : 0;
    right                 : -50px;
    width                 : 50px;
    height                : 50px;
    background            : transparent;
    border-top-left-radius: 50px;
    box-shadow            : -15px -15px 0 15px #500e4b;
    z-index               : -1;
}

.section-games .container-games .card-games .icon-games img {
    filter    : invert(1);
    width     : auto;
    height    : 69%;
    margin-top: 10px;
}

.section-games .container-games .card-games:nth-child(1) .icon-games img {
    margin-top: 4px;
}

.section-games .container-games .card-games:hover .icon-games img {
    animation        : flipHover 5s linear infinite;
    -webkit-animation: flipHover 4s linear infinite;
}

@keyframes flipHover {
    from {
        transform                : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
        -webkit-transform        : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -moz-transform           : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -ms-transform            : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -o-transform             : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    }

    40% {
        transform                : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
        -webkit-transform        : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -190deg);
        -moz-transform           : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -190deg);
        -ms-transform            : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -190deg);
        -o-transform             : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -190deg);
    }

    50% {
        transform                : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
        -webkit-transform        : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -170deg);
        -moz-transform           : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -170deg);
        -ms-transform            : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -170deg);
        -o-transform             : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -170deg);
    }

    80% {
        transform                : perspective(1000px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in;
        -webkit-transform        : perspective(1000px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -moz-transform           : perspective(1000px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -ms-transform            : perspective(1000px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -o-transform             : perspective(1000px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    }

    to {
        transform                : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in;
        -webkit-transform        : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -moz-transform           : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -ms-transform            : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -o-transform             : perspective(1000px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    }
}


.section-games .container-games .card-games .content-games {
    position   : absolute;
    width      : 100%;
    padding    : 30px;
    padding-top: 140px;
    text-align : center;
}

.section-games .container-games .card-games .content-games h2 {
    font-size    : 1.75em;
    color        : #fff;
    margin-bottom: 10px;
}

.section-games .container-games .card-games .content-games p {
    color      : #fff;
    line-height: 1.5em;
}

/*-------------------------------------------------------------
# Marcador
--------------------------------------------------------------*/
.section-games .container-marker {
    width          : 60%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.section-games .card-marker {
    position     : relative;
    width        : 100%;
    height       : 500px;
    background   : #fff;
    border-radius: 20px;
    box-shadow   : 0 0px 15px 9px rgb(0 0 0 / 39%);
    margin       : 3%;
}

.section-games .card-marker .flag-marker {
    position       : absolute;
    top            : -10px;
    left           : -10px;
    width          : 150px;
    height         : 150px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    overflow       : hidden;
}

.section-games .card-marker .flag-marker::before {
    content        : 'Marcador';
    position       : absolute;
    width          : 150%;
    height         : 40px;
    background     : linear-gradient(45deg, #ff8ff4, #ff00ea);
    transform      : rotate(-45deg) translateY(-20px);
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-transform : uppercase;
    font-weight    : 600;
    color          : #fff;
    letter-spacing : 0.1em;
    text-shadow    : -3px 1px 2px #000000d1;
    box-shadow     : 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index        : 1;
}

.section-games .card-marker .flag-marker::after {
    content   : '';
    position  : absolute;
    bottom    : 0;
    left      : 0;
    width     : 10px;
    height    : 10px;
    background: #981c78;
    z-index   : 0;
    box-shadow: 140px -140px #981c78;
}

/*-------------------------------------------------------------
# Marcador
--------------------------------------------------------------*/
.content-marcador {
    width          : 100%;
    height         : 650px;
    max-width      : 1400px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.content-marcador .image-tablero {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.content-marcador .image-tablero picture {
    /* display: block;
    width  : 100%;
    height : 100%; */
}

.content-marcador .image-tablero picture img {
    border-radius: 1rem;
    object-fit   : cover;
    height       : auto;
    width        : auto;
    max-height   : 469px;
    max-width    : 1000px;
    visibility: hidden;

}

.items-contenedor {
    position     : absolute;
    width        : 100%;
    height       : 100%;
    max-width    : 835px;
    max-height   : 500px;
    display      : flex;
    flex-flow    : row;
    z-index      : 2;
    align-items  : center;
    border-radius: 1rem;
    flex-wrap    : nowrap;
}

.items-contenedor div {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #00000038;
    color: #fff;
    border: 1px solid #fff;
}

/* .items-contenedor div:first-child {
    width: 62px;
} */

.items-contenedor div img {
    width: 55px;
    height: 35px;
    position: absolute;
    left: 0.7rem;
}

/*-------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 991px) {
    .section-games .container-elements-games {
        justify-content: center;
    }

    .section-games .container-games {
        flex-direction: column;
        align-items   : center;
        align-content : center;
        width         : 100%;
    }

    .section-games .container-marker {
        display: none;
    }

    /* .section-games .container-games .games{
        width: 90%;
    } */
}

@media (max-width: 350px) {
    .section-games .container-games .card-games {
        width: 280px;
    }
}

.set-img{
    position: relative;
}
.set-img::after{
    position: absolute;
    bottom: 0;
}
#yard-1::after{
    content: '0';
}
#yard-2::after{
    content: '5';
}
#yard-3::after{
    content: '10';
}
#yard-4::after{
    content: '15';
}
#yard-5::after{
    content: '20';
}
#yard-6::after{
    content: '25';
}
#yard-7::after{
    content: '30';
}
#yard-8::after{
    content: '35';
}
#yard-9::after{
    content: '40';
}
#yard-10::after{
    content: '45';
}
#yard-11::after{
    content: '50';
}
#yard-12::after{
    content: '55';
}
#yard-13::after{
    content: '60';
}
#yard-14::after{
    content: '65';
}
#yard-15::after{
    content: '70';
}
#yard-16::after{
    content: '75';
}
#yard-17::after{
    content: '80';
}
#yard-18::after{
    content: '85';
}
#yard-19::after{
    content: '90';
}
#yard-20::after{
    content: '95';
}
#yard-21::after{
    content: '100';
}