*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --width_picture : max(450px, 500px);
    --height_picture : max(450px, 480px);
}
.d-flex{
    display: flex!important;   
}
.d-none{
    display: none!important;   
}
.body-overflow{
    overflow: hidden;
}
/*-------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader{ 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    height:100vh; 
    width:100%; 
    background: #1c1b1bc9;
    background-size: 100% 100%;
    position:fixed; 
    top:0; 
    left:0; 
    z-index:9999; 
    transition:opacity 1.5s linear;                    
}
.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
}
.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}  
.spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}
.spinner::after {
    margin: 8.9px;
}
@keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
}
/*-------------------------------------------------------------
# Seccion Foto 
--------------------------------------------------------------*/
.container-picture{    
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.5rem;
}
.container-picture .content-take-picture{
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;    
}
.container-picture .content-take-picture .live-camera{
    width: var(--width_picture);
    height: var(--height_picture);
}
.container-picture .content-take-picture .live-camera video{
    width: 100%;
    height: 100%;
    background: black;
}
.container-picture .content-take-picture .foto-tomada{
    width: 376px;
    height: 580px;
    background-color: #000;
    /* background-image: url(../image/person_f.png); */
    background-image: url(../image/credencial-reportera-transformed.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-picture .content-take-picture .foto-tomada .photo{
    width: 98px;
    height: 136px;
    background: #5a89a0b5;
    position: absolute;
    top: 25px;
    right: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-picture .content-take-picture .foto-tomada .name{
    height: 45px;
    background: #85a4b42e;
    width: 290px;
    position: absolute;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1vh);
    bottom: 80px;
    border-radius: 5rem;
}
.container-picture .info-user{
    gap: 1rem;
}

/*-------------------------------------------------------------
# Seccion Diploma
--------------------------------------------------------------*/
.section-picture .contentainer-diploma{
    width: 100%;
    height: 100%;
    background: #252525a8;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-picture .contentainer-diploma .bg-diploma{
    width: auto;
    height: 94%;
    background-image: url('../image/fondo-calendario.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 2rem;
    position: relative;
}
.section-picture .contentainer-diploma .bg-diploma .close-form{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;
    align-items: center;   
    z-index: 400; 
}
.section-picture .contentainer-diploma .bg-diploma .close-form img{
    cursor: pointer;
    filter: invert(1);
    -webkit-filter: invert(1);
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma{    
    background: #fff;
    box-shadow: 0 0 10px 3px #00000059;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: 100%;
    width: 100%;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .body-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .title{
    width: 100%;
    height: auto;
    text-align: center;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .title h2{
    color: #000000;
    font-size: calc(0.9rem + 1vh);
    margin: 0;
    font-weight: bolder;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma hr{
    background: #eda1a3;
    border-radius: 15px;
    border: 1px solid #eda1a3;
    box-shadow: 0 0 30px #eca0a2;
    height: 1px;
    width: 100%;
    opacity: 1;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .title-take-picture p,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .title-info-user p{
    color: #000;
    margin: 0;
    font-weight: bold;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding-top: 5px;
    width: 100%;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera #listaDeDispositivos{
    border-radius: 5px;
    cursor: pointer;
    font-size: calc(6px + 1vh);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .take-picture,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .upload-picture,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture{
    cursor: pointer;
    border: #c3dbf3 solid 2px;
    border-radius: 5px;
    font-weight: bold;
    padding: 1%;
    width: 40px;
    height: auto;
    background: #c3dbf3;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .upload-picture{
    width: 50%;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .take-picture:disabled,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .upload-picture:disabled,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture:disabled{
    background: #b0b0b0bd;
    opacity: 0.5;
    cursor: no-drop;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .take-picture[disabled]:hover .box,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture[disabled]:hover .box,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .upload-picture[disabled]:hover .box,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture[disabled]:hover .box {
    opacity: 0;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .take-picture .box.arrow-top {
    bottom: -44px;
    left: -77px;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture .box.arrow-top {
    bottom: -47px;
    left: -205px;
    width: 235px;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture .box.arrow-top-left {
    width: 145px;
    bottom: -48px;
    left: 0px;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .take-picture:hover .box,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture:hover .box,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .upload-picture:hover .box,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .reload-picture:hover .box {
    opacity: 1;
    transition: opacity ease-in 0.2s;
    -webkit-transition: opacity ease-in 0.2s;
    -moz-transition: opacity ease-in 0.2s;
    -ms-transition: opacity ease-in 0.2s;
    -o-transition: opacity ease-in 0.2s;
    z-index: 300;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .camera{
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
    position: relative;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .camera .overlay-camera{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 1rem 1rem 0;
    display: flex;
    justify-content: center;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .camera .overlay-camera img{
    width: auto;
    height: 100%;
    filter: opacity(0.5);
    -webkit-filter: opacity(0.5);
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .camera .live-camera{
    text-align: center;
    background: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .camera .live-camera video{
    width: 100%;
    height: 200px;
    background: black;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .camera .live-camera #canvas{
    width: auto;
    height: 200px;
    background: black;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .title-info-user{
    padding-top: 5px;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding-top: 5px;
    width: 100%;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user label{
    color: #000;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-name,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-color,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-email{
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    row-gap: 5px;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-color select{
    cursor: pointer;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-name input,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-color select,
.section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-email input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #000;
    height: 100%;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .footer-form{
    width: 100%;
    display: flex;
    justify-content: right;
}
.section-picture .contentainer-diploma .bg-diploma .form-diploma .footer-form .btn-save{
    background-color: #c3dbf3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*-------------------------------------------------------------
# Seccion Popovers
--------------------------------------------------------------*/
.box {
    width: 105px;
    height: auto;
    background-color: #c2daf2;
    color: #000;
    padding: 5px;
    position: absolute;
    opacity: 0;
    z-index: 0;
}
.box.arrow-top-left:after {    
    content: " ";
    position: absolute;
    left: 0px;
    top: -11px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #c2daf2;
}
.box.arrow-top:after {
    content: " ";
    position: absolute;
    right: 0px;
    top: -11px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #c2daf2;
}
.box.arrow-right:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid black;
    border-bottom: 15px solid transparent;
}
.box.arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 30px;
    bottom: -15px;
    border-top: 15px solid black;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
}
.box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid black;
    border-left: none;
    border-bottom: 15px solid transparent;
}
/*-------------------------------------------------------------
# Section Credencial
--------------------------------------------------------------*/
.section-credential-user{
    position: relative;
}
.section-credential-user .container-credential-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #233329f7;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.section-credential-user .container-credential-user .credential{
    background: #fff;
    background-image: url(../image/credencial-verde.jpg);
    background-size: 100% 100%;
    width: 450px;
    height: 90%;
    position: relative;
}
.section-credential-user .container-credential-user .credential .foto{
    width: 121px;
    height: 156px;
    background: #000000;
    background-size: 100% 100%;
    position: absolute;
    right: 25px;
    top: 26px;
}
.section-credential-user .container-credential-user .credential .foto img{
    max-width: 100%;
    width: 100%;
}
.section-credential-user .container-credential-user .credential .name{
    width: 300px;
    height: 49px;
    background: #7fffd400;
    position: absolute;
    right: 29px;
    bottom: 88px;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-credential-user .container-credential-user .credential .name h2{
    margin: 0;
    font-size: calc(0.7rem + 1vh);
}
.section-credential-user .close-form{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;
    align-items: center;
    z-index: 10100;
}
.section-credential-user .close-form img{
    cursor: pointer;
    filter: invert(1);
    -webkit-filter: invert(1);
}
/*-------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 650px) {
    /*-------------------------------------------------------------
    # Seccion Diploma
    --------------------------------------------------------------*/
    .section-picture .container-calendar .title-calendar {
        width: 100%;
    }
    .section-picture .container-calendar .title-calendar .content-title-fixed{
        align-items: flex-start;
    }
    .section-picture .container-calendar .title-calendar h1, 
    .section-picture .container-calendar .title-calendar h3, 
    .section-picture .container-calendar .title-calendar p{
        margin: 0;
    }
    .section-picture .contentainer-diploma{
        padding: 1rem;
    }
    .section-picture .contentainer-diploma .bg-diploma{
        width: 100%;
        height: 100%;
    }
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .title h2{
        font-size: calc(0.6rem + 1vh);
    }
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .title-take-picture p, 
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .title-info-user p{
        font-size: calc(0.7rem + 0.5vh);
    }
}
@media (max-width: 520px) {
    /*-------------------------------------------------------------
    # Seccion Diploma
    --------------------------------------------------------------*/
    .section-picture .contentainer-diploma .bg-diploma{
        padding: 1rem;
    }
    /*-------------------------------------------------------------
    # Seccion Diploma
    --------------------------------------------------------------*/
    .section-picture .container-calendar .title-calendar{
        justify-content: center;
        flex-wrap: wrap;
    }
    .section-picture .container-calendar .title-calendar h1{
        font-size: calc(1.5rem + 1vh);
    }
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .camera .live-camera video{
        height: 150px;
    }
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .camera .live-camera #canvas{
        height: 150px;
    }
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera{
        flex-wrap: wrap;
    }
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .items-camera .upload-picture {
        width: 100%;
        order: 4;
    }
    /*-------------------------------------------------------------
    # Section Credencial
    --------------------------------------------------------------*/
    .section-credential-user .container-credential-user .credential .foto{
        right: 26px;
    }
    .section-credential-user .close-form{
        padding: 0.5rem;
    } 
    .section-credential-user .close-form img{
        filter: invert(0);
        border: 1px solid #000;
        background: #b1c6dc;
        padding: 5px;
        width: 40px;
        height: 40px;
    }  
    
}
@media (max-width: 480px) {
    /*-------------------------------------------------------------
    # Section Credencial
    --------------------------------------------------------------*/
    .section-credential-user .container-credential-user .credential{
        width: 360px;
    }
    .section-credential-user .container-credential-user .credential .foto{
        right: 19px;
        width: 100px;
    }
    .section-credential-user .container-credential-user .credential .name {
        width: 210px;
    }
    .section-credential-user .container-credential-user .credential .name h2{
        font-size: calc(0.7rem + 0.7vh);
    }
}
@media (max-width: 450px) {
    /*-------------------------------------------------------------
    # Seccion Diploma
    --------------------------------------------------------------*/
    .section-calendar .contentainer-diploma .bg-diploma .form-diploma .body-form{
        width: 100%;   
    }
    .section-calendar .contentainer-diploma .bg-diploma .form-diploma .items-camera{
        flex-wrap: wrap;
    }
    .section-calendar .contentainer-diploma .bg-diploma .form-diploma .items-camera #listaDeDispositivos{
        width: 100%;
    }
    .section-calendar .contentainer-diploma .bg-diploma .form-diploma .info-user{
        flex-direction: column;
    }
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user{
        flex-wrap: wrap;
    }
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-name,
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-color,
    .section-picture .contentainer-diploma .bg-diploma .form-diploma .info-user .content-email{
        width: 100%;
    }
}

@media (max-width: 380px) {
    /*-------------------------------------------------------------
    # Section Credencial
    --------------------------------------------------------------*/
    .section-credential-user .container-credential-user .credential{
        width: 95%;
    }
    .section-credential-user .container-credential-user .credential .foto{
        right: 17px;
        width: 28%;
        display: flex;
        align-items: center;
    }
    .section-credential-user .container-credential-user .credential .foto img{
        height: 75%;
    }
    .section-credential-user .container-credential-user .credential .name{
        width: 190px;
    }
    .section-credential-user .container-credential-user .credential .name h2 {
        font-size: calc(0.7rem + 0.7vh);
    }
}
@media (max-width: 350px) {
    /*-------------------------------------------------------------
    # Section Credencial
    --------------------------------------------------------------*/
    .section-credential-user .container-credential-user .credential .name {
        width: 210px;
    }
    .section-credential-user .container-credential-user .credential .name h2{
        font-size: calc(0.7rem + 0.8vh);
    }
}
@media (max-width: 350px) {
    /*-------------------------------------------------------------
    # Section Credencial
    --------------------------------------------------------------*/
    .section-credential-user .container-credential-user .credential .foto {
        right: 16px;
    }
}