.section-slider-notice .swiper-3d .swiper-slide-shadow, 
.section-slider-notice .swiper-3d .swiper-slide-shadow-bottom, 
.section-slider-notice .swiper-3d .swiper-slide-shadow-left, 
.section-slider-notice .swiper-3d .swiper-slide-shadow-right,
.section-slider-notice .swiper-3d .swiper-slide-shadow-top{
    border-radius: 2rem;

}
/*-------------------------------------------------------------
# Seccion Notas Principales
-------------------------------------------------------------*/
.section-slider-notice {
    background-color: #4d4d4d;
}
.section-slider-notice .container-navigation-prev img,
.section-slider-notice .container-navigation-next img{
    max-height: 100px;
    object-fit: contain;
    cursor: pointer;
}
.section-slider-notice .container-slider{
    padding: 0rem 3rem;
}
.section-slider-notice .container-slider .swiper {
    width: 100%;
    height: 100%;
}
.section-slider-notice .container-slider .swiper .swiper-wrapper{
    align-items: center;
}
.section-slider-notice .container-slider .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 435px;
    border-radius: 2rem;
}
.section-slider-notice .container-slider .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.section-slider-notice .container-slider .swiper .swiper-slide-active {
    height: 600px;
}
.section-slider-notice .container-slider .swiper .swiper-slide-active img{
    height: 100%;
}
/*-------------------------------------------------------------
# Seccion Notas Importantes
-------------------------------------------------------------*/
.section-important-notes .continer-items .row:nth-child(even){
    background-color: #f1f7f9;
    padding: 0.5rem 0rem;
}

.section-important-notes .continer-items .item-destacada{
    text-decoration: none;
}
.section-important-notes .continer-items .item-destacada .overflow-label{
    color: #000;
}
.section-important-notes .continer-items .item-destacada .overflow-label h4{
    background: var(--bs-info);
    font-size: 0.8rem;
    border-radius: 0.5rem;
}
.section-important-notes .continer-items .item-destacada .overflow-label h6{
    font-size: 0.8rem;
    text-shadow: 0 0 20px #000000;
}
.section-important-notes .continer-items .item-destacada .title h2{
    color: #000000;
    border-color: var(--bs-primary)!important;
    width: max-content;    
}
.section-important-notes .continer-items .item-destacada .title small{
    color: #898989;
}
.section-important-notes .continer-items .item-destacada .desc p{
    color: #000000;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.section-important-notes .note-tendencias .item-tendencias{
    text-decoration: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.section-important-notes .note-tendencias .item-tendencias .title{
    color: #000;
}
.section-important-notes .note-tendencias .item-tendencias .desc{
    color: #939496;
}
/*-------------------------------------------------------------
# Seccion Notas Importantes
-------------------------------------------------------------*/
.section-interviews-notes .item-interview{
    cursor: pointer;
}
/*-------------------------------------------------------------
# Seccion Ultimas Notas
-------------------------------------------------------------*/
.section-last-notes .container-item-last-notes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.section-last-notes .container-item-last-notes .item-last-notes{
    text-decoration: none;
}
.section-last-notes .container-item-last-notes .item-last-notes .desc{
    color: #000000;
}
.section-last-notes .note-categories .item-categorie{
    text-decoration: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.section-last-notes .note-categories .item-categorie .title{
    color: #000;
}
.section-last-notes .note-categories .item-categorie .desc{
    color: #939496;
}
/*-------------------------------------------------------------
# Responsive
-------------------------------------------------------------*/
@media (max-width: 1200px){ 
    
}
@media (max-width: 992px){ 
    /*-------------------------------------------------------------
    # Seccion Notas Principales
    -------------------------------------------------------------*/
    .section-slider-notice .container-slider{
        padding: 0rem 1rem;
    }
    .section-slider-notice .container-slider .swiper .swiper-slide {
        height: 200px;
    }
    .section-slider-notice .container-slider .swiper .swiper-slide-active {
        height: 350px;
    }
    /*-------------------------------------------------------------
    # Seccion Ultimas Notas
    -------------------------------------------------------------*/
    .section-last-notes .container-item-last-notes{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 576px){ 
    /*-------------------------------------------------------------
    # Seccion Notas Principales
    -------------------------------------------------------------*/
    .section-slider-notice .container-slider .swiper .swiper-slide,
    .section-slider-notice .container-slider .swiper .swiper-slide-active {
        height: 300px;
    }
    .section-slider-notice .container-navigation-prev img, 
    .section-slider-notice .container-navigation-next img{
        max-height: 150px;
    }
}