/* Bloque superior */
.ns-featured {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    margin-bottom: 20px;
}

.ns-featured img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}


@media (max-width: 991px) {
    .ns-featured {
        grid-template-columns: 1fr 1fr;
    }

    .ns-featured article:first-child {
        grid-column: 1 / -1;
    }
}

@media (max-width: 767px) {

    .ns-featured,
    .recent-grid {
        grid-template-columns: 1fr;
    }

    .ns-featured article:first-child {
        grid-column: auto;
    }

    .ns-featured img {
       height: 180px;
    }
}